.error-message {
    @apply w-full text-center text-[13px] sm:text-sm md:text-base font-medium text-red-600 border-2 border-red-600 rounded p-3 sm:p-4 md:px-6 bg-[#fff7f7];
}

.icon {
    @apply inline-flex items-center justify-center leading-[0];
    img,
    svg {
        @apply w-full h-full;
    }
}

.has-tooltip {
    @apply relative;
    &:before,
    &:after {
        @apply absolute invisible top-1/2 opacity-0 transition-all duration-300 pointer-events-none z-1;
        transform: translateY(-50%);
    }
    &:before {
        content: attr(data-tooltip-text);
        @apply ml-[10px] w-[100px] left-full p-1 rounded bg-black bg-opacity-85 text-white text-xs text-center;
    }
    &:after {
        content: '';
        right: calc(-100% + 6px);
        @apply border-transparent border-r-black border-[5px] border-opacity-85;
    }
    &:hover {
        &:before,
        &:after {
            @apply opacity-100 visible;
        }
    }
}

$bus-list--header-height: 105px;
$bus-list--header-height-tablet: 120px;

$bus-list-item--height: 48px;
$bus-list-item--height-tablet: 56px;
.bus-list {
    @apply overflow-auto max-h-[528px] md:max-h-[560px] text-xs leading-4;
    height: calc(100% - $bus-list--header-height);
    @include md {
        height: calc(100% - $bus-list--header-height-tablet);
    }
    &__header {
        height: $bus-list--header-height;
        @include md {
            height: $bus-list--header-height-tablet;
        }
    }
    &__item {
        @apply flex items-center px-4 md:px-6 text-gray-darkest;
        height: $bus-list-item--height;
        &:not(:first-child) {
            @apply border-t border-gray-lightest;
        }
        &--action {
            @apply cursor-pointer transition-colors duration-150 ease-in-out;
            &:hover {
                @apply bg-white-gray;
            }
        }
        &.active {
            @apply text-primary;
        }
        @include md {
            height: $bus-list-item--height-tablet;
        }
    }
}

.sort-btn {
    @apply inline-flex text-gray-dark;
    .icon {
        @apply transition-transform duration-300;
    }
    &:hover,
    &:active {
        @apply text-primary;
    }
    &.active {
        .icon {
            @apply rotate-180;
        }
    }
}

.styled-scroll {
    $scrollbar-color: #bdbdbd;
    scrollbar-color: $scrollbar-color transparent;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
        @apply w-[4px];
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px transparent;
    }

    &::-webkit-scrollbar-thumb {
        @apply rounded-sm;
        background-color: $scrollbar-color;
    }
}
